@import "../../variables.scss";

.delicious-baking {
    margin: 0 auto;
    display: grid;
    scroll-margin-top: 100px;
    grid-template-columns: repeat(3, 1fr);
    padding-block: min(6vh, 70px);
    max-width: 1200px;

    .item {
        width: 80%;
        padding-inline: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        img {
            height: 100px;
            aspect-ratio: 1/1;
        }
        .item-wrapper {
            h2 {
                font-size: 1.3rem;
            }
        }
    }
}

@media (max-width: $breakpoint-md) {
    .delicious-baking {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        .item {
            width: auto;
            padding-inline: 1rem;
            &:not(:nth-child(5), :nth-child(6)) {
                margin-bottom: 2rem;
            }
            .item-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h2 {
                    margin: 0;
                    font-size: 1.1rem;
                    margin-bottom: 0.75rem;
                }
                p {
                    margin: 0;
                    font-size: 0.9rem;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-sm) {
    .delicious-baking {
        grid-template-columns: 1fr;
        .item {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 2rem;
            .item-wrapper {
                h2 {
                    font-size: 1.3rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}